body{
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
}

p{
    font-size: 2.0em;
    font-weight: bold;
    color:white;
    margin:20px;
    padding:20px;
}


.link{
    transition: all 300ms;
}

.link:hover{
    transform: scale(1.5);
    background-color: #67BD55;
}


.link a{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.link a:hover{
    color: white;
}

.logout{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #60C5C2;
    height:100vh;
}
