body{
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
}

h1{
    padding: 12px 20px;
    margin: 8px 0px;
}

p{
    font-size: 1.2em;
    font-weight: bold;
    color:#67BD55;
    margin:0px;
    padding:0px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}

input[type=submit] {
    width: 100%;
    background-color: #60C5C2;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Poppins';
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
  background-color: #368783;
}

.form{
    width:auto;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

::placeholder {
  font-size: 1.2em;
  font-family: 'Poppins';
}

.register{
    height: 40vh;
    background-image: url("../images/registercover.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#registertitle{
    display: flex;
    justify-content: center;
    color:white;
    font-size: 5.0em;
    text-shadow: 3px 3px #368783;
    letter-spacing: 5px;
    transition: all 300ms;
}

#registertitle:hover{
    transform: scale(1.5);
}
