body{
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
}

h1{
    color:#67BD55;
    padding: 10px;
    margin: 0;
}

h2{
    color:#60C5C2;
    padding: 10px;
    margin: 0;
}

.student{
    height: 40vh;
    background-image: url("../images/studentcover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#studenttitle{
    display: flex;
    justify-content: center;
    color:white;
    font-size: 5.0em;
    text-shadow: 3px 3px #368783;
    letter-spacing: 5px;
}

.img{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.recipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-style: solid;
    border-color: #67BD55;
    border-width: 6px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

p{
    width: 60vw;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    text-align: center;
}

.link{
    margin: 25px;
    transition: all 300ms;
}

.link a{
    font-size: 1.2em;
    font-weight: bold;
    color: #67BD55;
    text-decoration: none;
}

.link:hover{
    transform: scale(1.5);
}

.link a:hover{
    transform: scale(1.5);
    color:#60C5C2;
}
