body{
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
}

h1{
    color:#67BD55;
    padding: 10px;
    margin: 0;
}

h2{
    color:#60C5C2;
    padding: 0;
    margin: 0;
}

.suggest{
    height: 40vh;
    background-image: url("../images/suggestcover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#suggesttitle{
    color:white;
    font-size: 5.0em;
    text-shadow: 3px 3px #368783;
    letter-spacing: 5px;
    transition: all 300ms;
}

#suggesttitle:hover{
    transform: scale(1.2);
}

.img{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 20px;
}

.recipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-style: solid;
    border-color: #67BD55;
    border-width: 6px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

p{
    width: 60vw;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    text-align: center;
}

.link{
    margin: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    transition: all 300ms;
}

.link a{
    font-size: 1.2em;
    font-weight: bold;
    color: #67BD55;
    text-decoration: none;
}

.link:hover{
    transform: scale(1.5);
}

.link a:hover{
    transform: scale(1.5);
    color:#60C5C2;
}

.explore{
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #67BD55;
}

#exploretitle{
    color:white;
    font-size: 2.0em;
    margin: 8px;
}

.professional{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #60C5C2;
}

#proftitle{
    color:white;
    font-size: 1.5em;
    margin: 8px;
}

.family{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #67BD55;
}

#famtitle{
    color:white;
    font-size: 1.5em;
    margin: 8px;
}

.button{
    background-color: #67BD55;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 25px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #2A973E;
    color: white;
    transform: scale(1.2);
}


#studenttitle:hover{
    transform: scale(1.5);
}



.button2{
    color: white;
    font-size: 1.5em;
    margin-bottom: 10px;
    transition: all 300ms;
}

.button2:hover{
    background-color: #67BD55;
    transform: scale(1.2);
}
